:focus {
    outline: none;
}
html{
    height:100vh;
    width:100vw;
}
body{
    height:100vh;
    width:100vw;
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70%);
    background-attachment: fixed;
}
canvas{
    margin:auto;
    background: white;
    border:2px #acaaaa solid;
    border-radius: 10px;
    box-shadow: 0 5px 1.25em #4b5557; 
}
td{
    padding:5px 20px;
}
select{
    cursor:pointer;
    display:inline-block;
    color: #000000;
    box-sizing: border-box;
    border:2px solid gray;
    border-radius: 7px;
    background: transparent;
}

#first_layer{
    display: flex;
}

#canvas_background{
    height: 500px;
    width: 700px;
}

#color_picker_background{
    height: 500px;
    width: 500px;
}

#color-div{
    margin: 20px;
    height: 156px;
    width: 192px;
    display: flex;
}
#color-block:hover {
    cursor: crosshair;
}
#color-strip:hover {
    cursor: crosshair;
}

#LineWidth{
    margin: 20px 30px;
    display: flex;
}
#img{
    height:10px;
}
#Font{
    margin: 0px 10px;
}

.Load[type=text] {
    box-sizing: border-box;
    border-radius: 7px;
    border:2px solid gray;
    text-align : center;
    background: transparent;
}
input[type=range] {
    -webkit-appearance: none;
    height: 5px;
    width: 80px;
    cursor:pointer;
    border:2px solid gray;
    border-radius: 50px;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    cursor:pointer;
    border:1px solid rgba(205, 224, 230, 0.5);
    border-radius: 50%;
    box-shadow: 0 5px 1.25em #4b5557;
    background: #ffffff; 
}

input[type=button] {
    width:45px;
    height:45px;
    border:2px solid black;
    background: transparent;
    background-repeat: no-repeat;
    background-position:center;
}
input[type=button]:hover {
    border:2px solid rgb(12,132,0);
    box-shadow: 0 5px 1.25em #4b5557;
}
input[type=button]:active {
    transform: translateY(4px);
    box-shadow: 0 5px 1.25em #4b5557;
}
.Function,.DrawStyle{
    border-radius: 50px;
}
.DrawType{
    border-radius: 10px;
}


#Upload::-webkit-file-upload-button {
    visibility: hidden;
}
#Upload{
    height:45px;
    width:45px;
    display: block;
    background-image:url("img/upload.png");
    background-position:center;
    background-repeat: no-repeat;
}
#Download {
    height:45px;
    width:45px;
    display: block;
    background-image:url("img/download.png");
    background-position:center;
    background-repeat: no-repeat;
}
#Clear {
    background-image:url("img/clear.png");
}
#Redo {
    background-image:url("img/redo.png");
}
#Undo {
    background-image:url("img/undo.png");
}
#Filled {
    background-image:url("img/filled.png");
}
#Rainbow {
    background-image:url("img/rainbow.png");
}
#Eraser {
    background-image:url("img/eraser.png");
}
#Pencil {
    border:2px solid red;
    background-image:url("img/pencil.png");
}
#Context {
    background-image:url("img/text.png");
}
#Straight {
    background-image:url("img/straight.png");
}
#Rectangle {
    background-image:url("img/rectangle.png");
}
#Circle {
    background-image:url("img/circle.png");
}
#Triangle {
    background-image:url("img/triangle.png");
}